.chatRoomBox {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.chatRoomBox:hover {
  background-color: aqua;
}
.imgBox {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.chatRoomImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.chatRoomName {
  position: relative;
  top: -13px;
}
