.menuBox {
  padding: 0;
  height: 100%;
  position: relative;
  margin: 0;

  box-sizing: border-box;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.156
  ); /* 회색 오버레이 색상 및 투명도 조절 */
  z-index: 999; /* 모달보다 낮은 z-index 값으로 설정하여 모달 위에 표시됨 */
}
.menuButton {
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  top: 10px;
}
.menuButtonHidden {
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  top: 10px;
  display: none;
}
.menuContainer {
  text-align: center;
  z-index: 2000;
  padding-top: 0px;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  top: 1px;
  right: -300px;
  width: 0px;
  height: calc(100% + 8.3px); /* 뷰포트 높이 만큼 */
  background-color: rgba(0, 255, 166, 0.144);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  /* 요소를 투명하게 만듭니다. */
  transition: width 1s ease, right 1s ease, opacity 1s ease; /* opacity에도 transition 적용 */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  opacity: 0;

  box-sizing: border-box;
}

.menuContainer.open {
  padding: 10px;
  width: 300px;
  margin: 0;
  opacity: 1; /* 요소를 다시 보이게 합니다. */
  position: absolute;
  right: -9px;
}
.profileModalButtonBox {
  width: calc(100%);
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.profileModalButton {
  width: 70px;
  height: 70px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
}
.profileModalButton img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
}
.profileModalButtonBox span {
  width: 70px;
  margin-top: 0px;
  padding: 0;
  font-weight: 900;
  user-select: none; /* 텍스트 드래그 금지 */
}

.logOutButton {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}
.OtherButtonBox {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.chatRoomCreatorButton {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}
